<html>
<head>
    <title>Teams</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="page-header">
	<h1>Teams Search</h1>
    </div>
    <form class="form-inline" action="/">
	<div class="form-group">
	    <label class="control-label sr-only">Query</label>
	    <input type="text" name="query" class="form-control" placeholder="What to search for">
	</div>
	<button type="submit" class="btn btn-success">Search</button>
    </form>

    <!--// TODO: Search Results //-->
    <div class="row">
	<div class="col-sm-3">
	    
	   
		<form>       
     {% if query %} 
        </form>
         {% for name, image in teams %}
         	<img src="{{ image }}"> 
         	<caption> {{ name }} </caption>           
          {% end %}

    {% end %}
	    </div>
	</div>

	<form>       

	
	<div class="col-sm-3">
		
	    </div>
	</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
